*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
# experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/
pretrained/
pretrained
vla_pretrained
pretrained
pretrained
vla_pretrained
experiments/
sota/
demo/
.ipynb_checkpoints/